2captcha-python==1.1.3
absl-py==2.0.0
accelerate==0.24.1
aiodns==3.1.1
aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
aleph-alpha-client==2.14.0
anthropic==0.2.10
anyio==3.7.1
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
awscli==1.33.22
backcall==0.2.0
bayesian-optimization==1.4.3
beautifulsoup4==4.12.2
bert-score==0.3.13
bigcode-eval==0.0.0
bitsandbytes==0.41.2.post2
blanc==0.3.3
blis==0.7.11
boto3==1.28.75
botocore==1.31.75
bottle==0.12.25
cachetools==5.3.2
catalogue==2.0.10
cattrs==22.2.0
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.1
click==7.1.2
cmake==3.27.7
colorama==0.4.6
colorcet==3.0.1
comm==0.1.4
confection==0.1.3
contourpy==1.1.1
crfm-helm==0.2.2
cycler==0.12.1
cymem==2.0.8
Cython==3.0.5
dacite==1.6.0
dataclasses-json==0.6.4
DataProperty==1.0.1
datasets==2.14.6
debugpy==1.8.0
decorator==5.1.1
deepspeed==0.12.4
dill==0.3.5.1
docopt==0.6.2
docutils==0.16
emoji==2.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl#sha256=5e02939fb7fbae6dbcc9c5a1355f5e4e02939b649a1f0846ee844ac1d479bbeb
evaluate==0.4.1
exceptiongroup==1.1.3
executing==2.0.0
fastapi==0.104.1
filelock==3.12.4
fire==0.5.0
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.1
gdown==4.4.0
gin-config==0.5.0
google-api-core==2.12.0
google-api-python-client==2.64.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
greenlet==3.0.3
gunicorn==20.1.0
h11==0.14.0
hjson==3.1.0
httplib2==0.22.0
huggingface-hub==0.24.5
human-eval==1.0.3
icetk==0.0.4
idna==3.4
importlib-metadata==6.8.0
importlib-resources==5.10.4
infini_gram==2.0.0
install==1.3.5
ipykernel==6.26.0
ipython==8.16.1
isal==1.5.3
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==2.4
jupyter_client==8.5.0
jupyter_core==5.4.0
kiwisolver==1.4.5
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.39
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.38
lit==17.0.6
llvmlite==0.39.1
lm-eval==0.3.0
lxml==4.9.3
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mosestokenizer==1.0.0
moverscore==1.0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.13
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2
ninja==1.11.1.1
nltk==3.8.1
numba==0.56.4
numexpr==2.8.7
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu12==12.1.105
openai==0.27.10
openfile==0.0.7
orjson==3.10.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.1
param==2.0.0
parameterized==0.9.0
parso==0.8.3
pathvalidate==3.2.0
pathy==0.10.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
portalocker==2.8.2
preshed==3.0.9
prompt-toolkit==3.0.39
protobuf==3.20.2
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycares==4.4.0
pycountry==22.3.5
pycparser==2.21
pyct==0.5.0
pydantic==1.8.2
pyemd==0.5.1
pyext==0.7
Pygments==2.16.1
pyhocon==0.3.60
pymongo==4.2.0
pynvml==11.5.0
pyparsing==3.1.1
PySocks==1.7.1
pytablewriter==1.2.0
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.2
pytrec-eval==0.5
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.10.3
requests==2.31.0
responses==0.18.0
retrying==1.3.4
revChatGPT==0.1.1
rouge==1.0.1
rouge-score==0.1.2
rsa==4.7.2
s3transfer==0.10.2
sacrebleu==2.2.1
sacremoses==0.1.1
safetensors==0.4.4
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.11.2
selenium==4.7.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.2.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.29
sqlitedict==1.7.0
srsly==2.4.8
stack-data==0.6.3
stanza==1.6.1
starlette==0.27.0
summ-eval==0.892
surge-api==1.1.4
sympy==1.11.1
tabledata==1.3.3
tabulate==0.8.9
tcolorpy==0.1.4
tenacity==8.2.3
termcolor==2.4.0
thinc==8.0.12
threadpoolctl==3.2.0
tiktoken==0.3.3
timer==0.2.2
tls-client==0.1.7
tokenizers==0.15.2
toolwrapper==2.1.0
torch==2.0.1+cu118
torchvision==0.13.1
tornado==6.3.3
tqdm==4.64.1
tqdm-multiprocess==0.0.11
traitlets==5.12.0
transformers==4.36.1
trio==0.22.2
trio-websocket==0.11.1
triton==2.0.0
typepy==1.3.2
typer==0.3.1
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2023.3
uncertainty-calibration==0.1.4
undetected-chromedriver==3.1.7
uritemplate==4.1.1
urllib3==1.26.18
wasabi==0.8.1
wcwidth==0.2.8
websocket-client==1.3.3
websockets==12.0
wsproto==1.2.0
xlrd==2.0.1
xopen==1.8.0
xxhash==3.4.1
yarl==1.9.2
zipp==3.17.0
zstandard==0.18.0
